/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.booyah-box {
  /*-webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;*/
  background:#fff;
  border-radius: 3px;
  /*border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;*/
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'dosismedium', serif;
}

h2 {
  font-family: 'dosismedium', serif;
  text-align: center
}

h3 {
  font-family: 'dosismedium', serif;
}

h4 {
  font-family: 'dosismedium', serif;
  display: inline;
}

h5 {
  font-family: 'dosismedium', serif;
  color: #d5d5d5;
}

i {
    font-family: 'dosisregular', serif;
    color: #d5d5d5;
    font-size: 15px;
}


i.black {
  color: #000;
}

i.yellow {
  color: #FFDF2B;
}

a {
  font-family: 'dosisregular', serif;
  color: #000;
}

a:hover {
  color: #48C9C8;
  text-decoration: none;
}


p {
  font-family: 'dosisregular', serif;
  font-size: 18px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #fff;
  padding-top: 10px;
}

.footer-text {
  font-size: 14px;
}


.clear {
  clear: both;
}


.navbar.navbar-inverse {
  margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  font-family: 'dosismedium', serif;
  font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color:#48C9C8;
}


.navbar-toggle {
  background-color: #000;
}

.user-email {
    font-family: 'dosisregular', serif;
    color: #d5d5d5;
    font-size: 12px;

}

.pagination {
  font-family: 'dosismedium', serif;
  font-size: 15px;
  background: #fff;
  border-radius: 2px;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      color: #48C9C8; }

.glyphicon-heart {
  color: #FA2D2D;
}

.email {
  font-family: 'dosisregular', serif;
  font-size: 15px;
}

.password {
  font-family: 'dosisregular', serif;
  font-size: 15px;
}

.comment_message {
  font-family: 'dosisregular', serif;
  font-size: 15px;
}

.comment_rating {
  font-family: 'dosisregular', serif;
  font-size: 15px;
}

.place_name {
  font-family: 'dosisregular', serif;
  font-size: 15px;
}

.place_address {
  font-family: 'dosisregular', serif;
  font-size: 15px;
}

.place_description {
  font-family: 'dosisregular', serif;
  font-size: 15px;
}

.btn {
    font-family: 'dosismedium', serif;
    font-size: 16px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-family: 'dosisregular', serif;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.thumbnail {
  height: 200px;
  display: inline-block;

}

.clear {
  clear:both;
}

.carousel-inner {
  margin-bottom: 30px;
}

.carousel-caption {
  font-family: 'dosisregular', serif;
  font-size: 30px;
   background-color: rgba(0,0,0,0.5);
   width: 100%;
   position: absolute;
   left: 0;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

