@font-face {
    font-family: 'dosisbold';
    src: url('/assets/dosis-bold-webfont.woff2') format('woff2'),
         url('/assets/dosis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisextrabold';
    src: url('/assets/dosis-extrabold-webfont.woff2') format('woff2'),
         url('/assets/dosis-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisextralight';
    src: url('/assets/dosis-extralight-webfont.woff2') format('woff2'),
         url('/assets/dosis-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosislight';
    src: url('/assets/dosis-light-webfont.woff2') format('woff2'),
         url('/assets/dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosismedium';
    src: url('/assets/dosis-medium-webfont.woff2') format('woff2'),
         url('/assets/dosis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosisregular';
    src: url('/assets/dosis-regular-webfont.woff2') format('woff2'),
         url('/assets/dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dosissemibold';
    src: url('/assets/dosis-semibold-webfont.woff2') format('woff2'),
         url('/assets/dosis-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}